@import "tailwindcss";

@theme {
    --color-brand-primary: #61a7e5;
    --color-surface-default: #3a3939;
    --color-surface-primary: #5F9ACE;
    --color-surface-secondary: #efefef;
    --color-text-default: var(--color-black);
    --color-text-contrast: #fff;
    --color-text-disabled: var(--color-gray-500);
}

@layer base {
    h1 {
            font-size: var(--text-2xl);
            font-weight: bold;
        }
    h2 { font-size: var(--text-xl); }
    h3 { font-size: var(--text-lg); }
}